<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="
       http://www.springframework.org/schema/cache
       http://www.springframework.org/schema/cache/spring-cache.xsd
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <import resource="classpath:applicationContext-repository.xml"/>

    <import resource="applicationContext-config.xml"/>

    <context:component-scan base-package="com.advert.services"/>

    <!--<cache:annotation-driven cache-manager="#{appProperties['advert.cacheManager']}"/>-->

    <!--<bean id="cacheManagerDummy" lazy-init="true" class="org.springframework.cache.support.NoOpCacheManager"/>-->

    <!--<bean id="cacheManagerMain" lazy-init="true" class="org.springframework.cache.ehcache.EhCacheCacheManager">-->
        <!--<property name="cacheManager" ref="ehcache"/>-->
    <!--</bean>-->

    <!--&lt;!&ndash; EhCache library setup &ndash;&gt;-->
    <!--<bean id="ehcache" lazy-init="true" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">-->
        <!--<property name="configLocation" value="classpath:ehcache.xml"/>-->
    <!--</bean>-->

</beans>